<section class="userpage-section">
    <div class="wrapper">
        <div class="container-fluid animated fadeInDown">
            <div class="feature-section-content">
                    <div class="featured-item white">
                        <br />
                        <div class="item-name"><span class="fa fa-info-circle"></span> Course you may find useful</div>
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <div class="container-fluid">
			<div>
				<br />
				<h3>Digital Cloud OPS Courses</h3>
				Wahlin Consulting provides world-class development consulting, architecture and training services for companies around the world.
				While we have an excellent reputation in the industry, it turns out that not too many people can remember how to spell
				or say our name unfortunately (it's pronounced "wall-lean" so we understand why it's so hard to remember and spell). 
				As a result, the CodewithDan.com site was created since it's easy to remember and easy to spell. True story! 
				<br /><br />
				
				
 			</div>
		</div>
    </div>
</section>