<section class="userpage-section">
    <div class="wrapper">
        <div class="container-fluid animated fadeInDown">
            <div class="feature-section-content">
                    <div class="featured-item white">
                        <br />
                        <div class="item-name"><span class="fa fa-info-circle"></span> Set Up Kubernetes Cluster on AWS  </div>
                        {{blogPosts.author}} 
                    </div>
            </div>
        </div>
    </div>
</section>